#registry {
  position: relative;
  width: 100%;
}

.registry--wrapper-container {
  position: relative;
  width: 100%;
}

.registry--content-container {
  padding: 140px 0;
  width: 100%;
}


// Shapes shapes

.registry-shape-1 {
  position: absolute;
  left: 6%;
  margin-top: 200px;
  z-index: 10;
}

.registry-shape-2 {
  position: absolute;
  left: 24%;
  margin-top: 300px;
}

.registry-shape-3 {
  position: absolute;
  left: 21%;
  margin-top: 420px;
}

.registry-shape-4 {
  position: absolute;
  left: 33%;
  margin-top: 310px;
}

.registry-shape-5 {
  position: absolute;
  right: 5%;
  margin-top: 1820px;
  z-index: 10;
}

.registry-shape-6 {
  position: absolute;
  right: 7%;
  margin-top: 1840px;
  z-index: 10;
}
