@import "./fonts/fonts";

@import "./base/base";
@import "./pages/home";

body {
  color: #333;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
