@import "./fonts/fonts";

@import "./base/base";
@import "./pages/home";
@import "./components/components";
@import "./sections/sections";

body {
  color: #333;
  scroll-behavior: smooth;
  text-align: center;
  margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.page-container {

}
