@font-face {
    font-family: 'kanji';
    src: url('../fonts/kanji/kanji_pa-webfont.woff2') format('woff2'),
         url('../fonts/kanji/kanji_pa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
