@font-face {
  font-family: 'kanji';
  src: url("../fonts/kanji/kanji_pa-webfont.woff2") format("woff2"), url("../fonts/kanji/kanji_pa-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-heavy-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-heavy-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-bold-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-extrabold-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-medium-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-semibold-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-extralight-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-light-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-regular-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'neue_hans_kendrick';
  src: url("../fonts/kendrick/neuehanskendrick-thin-webfont.woff2") format("woff2"), url("../fonts/kendrick/neuehanskendrick-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-black-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-blackitalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-bold-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-bolditalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-bolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-italic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-italic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-light-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-lightitalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-medium-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-mediumitalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-regular-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-semibold-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-semibold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-semibolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
body {
  font-family: "neue_hans_kendrick";
  font-size: 1em; }

p {
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: -0.4px;
  margin: 0; }

.title-1 {
  font-family: "kanji";
  font-size: 100px;
  color: #19191A;
  letter-spacing: -0.3px;
  z-index: 10; }

.title-1__large {
  font-size: 100px; }
  @media (max-width: 1200px) {
    .title-1__large {
      font-size: 100px; } }
  @media (max-width: 980px) {
    .title-1__large {
      font-size: 80px; } }
  @media (max-width: 800px) {
    .title-1__large {
      font-size: 70px; } }
  @media (max-width: 700px) {
    .title-1__large {
      font-size: 60px; } }
  @media (max-width: 600px) {
    .title-1__large {
      font-size: 50px; } }
  @media (max-width: 500px) {
    .title-1__large {
      font-size: 40px; } }

.title-2 {
  color: #19191A;
  font-family: "kanji";
  font-size: 72px;
  letter-spacing: -0.2px;
  line-height: 1;
  z-index: 10; }

.title-3 {
  color: #19191A;
  font-family: "kanji";
  font-size: 46px;
  letter-spacing: -0.2px;
  line-height: 1;
  z-index: 10; }

.title-4 {
  color: #19191A;
  font-family: "kanji";
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 1;
  z-index: 10; }

.title-subheader {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase; }

h3 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase; }

.hero-section {
  margin: 72px 0;
  padding: 72px 24px; }

.logo {
  width: 100%; }

.registry a {
  font-family: "neue_hans_kendrick";
  font-weight: 800; }

.under-construction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px 24px; }

.header-construction {
  margin-bottom: 16px; }

.construction-img {
  margin-bottom: 32px;
  width: 100px; }

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 96px; }

.title {
  color: #19191A;
  font-family: "kanji";
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  width: 100%; }
  @media (max-width: 574px) {
    .title {
      font-size: 40px; } }
  @media (max-width: 424px) {
    .title {
      font-size: 32px; } }

.header {
  background-color: #FFF;
  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 9999999; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 40px; }
  @media (max-width: 540px) {
    .header-content {
      margin: 0 20px; } }

.header-logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 15px 0; }

.nav {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    .nav ul li {
      margin-left: 40px; }
      .nav ul li :first-child {
        margin-left: 0; }
    .nav ul a {
      border-bottom: 2px solid;
      border-color: rgba(255, 255, 255, 0);
      color: #19191A;
      font-size: 14px;
      font-weight: 700;
      height: 90px -2;
      text-decoration: none;
      white-space: nowrap;
      -webkit-transition: all 150ms ease;
      transition: all 150ms ease; }
      .nav ul a :active {
        color: #FF00FF; }
      .nav ul a :hover {
        color: #0FC8F3; }

.active {
  border-color: #0FC8F3; }

.hamburger {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

@media (max-width: 928px) {
  .nav {
    display: none; } }
@media (max-width: 928px) {
  .hamburger {
    display: inline; } }
.hamburger .hamburger-line--top {
  width: 28px; }
.hamburger .hamburger-line--middle {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  width: 22px; }
.hamburger .hamburger-line--bottom {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  width: 15px; }
.hamburger:hover {
  cursor: pointer; }
  .hamburger:hover .hamburger-line--middle {
    width: 28px; }
  .hamburger:hover .hamburger-line--bottom {
    width: 28px; }

.hamburger-lines-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 14px;
  width: 28px; }

.hamburger-line {
  background: #FF00FF;
  height: 2px; }

#myNav {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 999999999;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #FFF;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.overlay-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  width: 100%; }
  @media (max-width: 540px) {
    .overlay-header {
      padding-left: 20px; } }

.overlay-close {
  color: #19191A;
  cursor: pointer; }

.overlay-links {
  color: #19191A;
  font-size: 24px;
  font-weight: 700;
  text-align: left; }
  .overlay-links ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .overlay-links li {
    padding-left: 40px;
    margin-bottom: 48px; }
  .overlay-links a {
    text-decoration: none; }

.nav-mobile-links:hover {
  color: #0FC8F3; }

.nav-mobile-links:visited {
  color: #19191A; }

.nav--mobile-bottom-line {
  background-color: #0FC8F3;
  width: 100%; }

.close {
  position: absolute;
  right: 40px;
  top: 24px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #FF00FF; }

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

@-webkit-keyframes scrollwheelanimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0; } }
@-webkit-keyframes scroll-wheel-animation {
  0% {
    -webkit-box-pack: start;
            justify-content: flex-start; }
  100% {
    -webkit-box-pack: end;
            justify-content: flex-end; } }
@keyframes scroll-wheel-animation {
  0% {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  100% {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }
.scroll-icon {
  border: 2px solid #1EC0E3;
  border-radius: 100px;
  width: 20px;
  height: calc(34px - 16px);
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  right: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  opacity: 1; }

.scroll-wheel {
  background: #EA1DEA;
  border-radius: 100px;
  width: 4px;
  height: 8px;
  -webkit-animation: scrollwheelanimation ease 1.2s infinite;
          animation: scrollwheelanimation ease 1.2s infinite; }

.registry-header h3 {
  display: none; }

#hero {
  margin-top: 90px;
  width: 100%;
  height: calc(100vh - 90px); }

.hero--content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%; }

.hero--title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  text-align: center; }

.hero--names-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }

.hero--title-plus-sign {
  color: #19191A;
  font-family: "neue_hans_kendrick";
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  margin: 20px 20px 0 12px; }
  @media (max-width: 1200px) {
    .hero--title-plus-sign {
      font-size: 40px;
      margin: 12px 10px 0 6px; } }
  @media (max-width: 900px) {
    .hero--title-plus-sign {
      margin: 10px 10px 0 6px; } }
  @media (max-width: 800px) {
    .hero--title-plus-sign {
      margin: 8px 10px 0 6px;
      font-size: 28px;
      font-weight: 400; } }
  @media (max-width: 700px) {
    .hero--title-plus-sign {
      margin: 4px 10px 0 6px; } }
  @media (max-width: 600px) {
    .hero--title-plus-sign {
      margin: 4px 10px 0 6px;
      font-size: 24px;
      font-weight: 400; } }

.hero--subtitle {
  color: #19191A;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 800px) {
    .hero--subtitle {
      font-size: 15px; } }

@media (max-width: 800px) {
  .hero--date {
    font-size: 40px; } }

.hero-shape-1 {
  position: absolute;
  left: 40px;
  top: 40px; }
  @media (max-width: 540px) {
    .hero-shape-1 {
      left: 20px;
      top: 20px;
      width: 48px;
      height: auto; } }

.hero-shape-2 {
  position: absolute;
  right: 40px;
  top: 40px; }
  @media (max-width: 540px) {
    .hero-shape-2 {
      right: 20px;
      top: 20px;
      width: 48px;
      height: auto; } }

.hero-shape-3 {
  position: absolute;
  left: 40px;
  bottom: 40px; }
  @media (max-width: 540px) {
    .hero-shape-3 {
      left: 20px;
      bottom: 20px;
      width: 48px;
      height: auto; } }

.hero-shape-4 {
  position: absolute;
  right: 40px;
  bottom: 40px; }
  @media (max-width: 540px) {
    .hero-shape-4 {
      right: 20px;
      bottom: 20px;
      width: 48px;
      height: auto; } }

#story {
  background: #D8D8D8;
  height: 600px;
  padding: 120px 0;
  width: 100%; }

#details {
  background: #FFF;
  width: 100%;
  position: relative; }

.details--wrapper-container {
  position: relative;
  height: 100%;
  width: 100%; }

.details--content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 280px 20px 220px; }

.details--date-container {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 130px; }

.details--label {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.4px;
  line-height: 17px;
  margin-bottom: 19px;
  text-transform: uppercase; }

.details--date-time {
  text-align: right; }

.details--location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px; }

.details--parking-container {
  text-align: right;
  max-width: 220px;
  padding-right: 60px; }

.details--parking-rate {
  font-weight: 600; }

.details--venue-transportation-container {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 220px;
  padding-left: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.details--venue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-top: -100px; }

.details--venue-name {
  font-weight: 700; }

.details--transportation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left; }

.details--subway-link:visited {
  color: #19191A; }

.details--subway-link:hover .details--subway-text {
  opacity: 1; }

.details--subway-text {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  text-decoration: underline;
  opacity: .5; }

.details--subway-icon {
  margin-top: 19px; }

.details--map-container {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 500px; }
  @media (max-width: 800px) {
    .details--map-container {
      height: 400px;
      width: 400px; } }
  @media (max-width: 500px) {
    .details--map-container {
      height: 300px;
      width: 300px; } }

.details--map-container iframe {
  border: 8px solid #FFF;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.details--shape-1 {
  position: absolute;
  left: 13%;
  margin-top: 180px; }

.details--shape-2 {
  position: absolute;
  left: 30%;
  margin-top: 350px; }

.details--shape-3 {
  position: absolute;
  right: 31%;
  margin-top: 460px; }

.details--shape-4 {
  position: absolute;
  right: 20%;
  margin-top: 540px; }

.details--shape-5 {
  position: absolute;
  left: 35%;
  margin-top: 600px; }

.details--shape-6 {
  position: absolute;
  right: 23%;
  margin-top: 700px; }

.details--shape-7 {
  position: absolute;
  left: 35%;
  margin-top: 1100px; }

.details--shape-8 {
  position: absolute;
  right: 40px;
  margin-top: 1400px; }

#accommodations {
  background: #FAFBFC;
  width: 100%;
  height: 100%;
  padding-bottom: 100px; }

.accommodations--wrapper-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.accommodations--content-container {
  padding: 180px 0px 300px;
  position: relative;
  width: 100%; }

.accommodations--content-container .title-3 {
  padding-left: 15%; }

.accommodations--header {
  font-weight: 700;
  font-size: 24px;
  color: #19191A;
  letter-spacing: -0.2px;
  margin-bottom: 14px; }

.accommodations--primary-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 466px;
  margin-top: 120px;
  margin-left: 20%; }

.accommodations--alternates-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 46%; }

.accommodations--altenates-text {
  position: absolute;
  margin: 60px 0 0 70px;
  font-weight: 600; }

.accommodations--altenates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .accommodations--altenates-list li {
    margin-bottom: 15px; }

.accommodations--altenates-list__link {
  text-decoration: underline; }

.accommodations--altenates-list__link:hover {
  color: #0FC8F3; }

.accommodations--altenates-list__distance {
  font-weight: 400; }

.accommodations-white-triangle-1 {
  position: absolute;
  right: 0; }

.accommodations--bottom-triangle {
  background-color: #FAFBFC;
  position: relative;
  width: 100%; }

.accommodations-white-triangle-2 {
  position: absolute;
  left: 0;
  margin-top: -240px; }

.accommodations-shape-1 {
  position: absolute;
  left: 40px;
  margin-top: 380px; }

#registry {
  position: relative;
  width: 100%; }

.registry--wrapper-container {
  position: relative;
  width: 100%; }

.registry--content-container {
  padding: 140px 0;
  width: 100%; }

.registry-shape-1 {
  position: absolute;
  left: 6%;
  margin-top: 200px;
  z-index: 10; }

.registry-shape-2 {
  position: absolute;
  left: 24%;
  margin-top: 300px; }

.registry-shape-3 {
  position: absolute;
  left: 21%;
  margin-top: 420px; }

.registry-shape-4 {
  position: absolute;
  left: 33%;
  margin-top: 310px; }

#party {
  background: #F0F0F0;
  height: 600px;
  padding: 120px 0;
  width: 100%; }

body {
  color: #333; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: inline-block; }

a:visited {
  color: inherit; }
