@font-face {
  font-family: 'kanji';
  src: url("../fonts/kanji/kanji_pa-webfont.woff2") format("woff2"), url("../fonts/kanji/kanji_pa-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-black-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-blackitalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-bold-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-bolditalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-bolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-italic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-italic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-light-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-lightitalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-medium-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-mediumitalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-regular-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-semibold-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-semibold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'explorer';
  src: url("../fonts/explorer/hkexplorer-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/explorer/hkexplorer-semibolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
body {
  font-family: "explorer";
  font-size: 1em; }

p {
  font-size: 1.2em;
  line-height: 1.4;
  letter-spacing: -0.4px;
  margin: 0; }

.title-plus-symbol {
  font-size: 16; }

.title-subheader {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase; }

h3 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase; }

.header {
  margin: 72px 0;
  padding: 72px 24px; }

.logo {
  width: 100%; }

.registry a {
  font-family: "explorer";
  font-weight: 800; }

.under-construction {
  background: #E9E9EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px 24px; }

.header-construction {
  margin-bottom: 16px; }

.construction-img {
  margin-bottom: 32px;
  width: 100px; }

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 96px; }

.title {
  color: #19191A;
  font-family: "kanji";
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  width: 100%; }
  @media (max-width: 574px) {
    .title {
      font-size: 40px; } }
  @media (max-width: 424px) {
    .title {
      font-size: 32px; } }

body {
  color: #333;
  text-align: center;
  margin: 0; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }
