body {
  font-family: $font-text;
  font-size: 1em;
}

.title {
  color: $color-black;
  font-family: $font-display;
  font-size: 62px;
  letter-spacing: 2px;
}

.title-plus-symbol {
  font-size: 16;
}
