// Typography
$font-display: 'kanji';
$font-text: 'neue_hans_kendrick';

// Colors
$color-cyan: #0FC8F3;
$color-magenta: #FF00FF;
$color-yellow: #FFDC00;
$color-black: #19191A;

// Component Dimensions
$nav-height: 90px;
