<section id="accommodations">
  <div class="accommodations--wrapper-container">
    <!-- <img src="./images/shapes/accommodations/accommodations-white-tiangle-1.svg" alt="" class="accommodations-white-triangle-1"> -->
    <!-- <img src="./images/shapes/accommodations/accommodations-dot-grid-yellow-1.svg" alt="" class="accommodations-shape-1 rellax" data-rellax-speed="1"> -->

    <div class="accommodations--content-container">
      <h2 class="title-3">
        Accommodations
      </h2>

      <div class="accommodations--location">
        <div class="accommodations--header">
          Sunset Park, Brooklyn
        </div>
        <p>Sunset Park is not a trendy neighborhood but Industry City is an exciting area to explore. A dynamic ecosystem where diverse innovators, creators, makers, and manufacturers develop, produce, and collaborate daily in Brooklyn. There is a 40,000 square foot food hall, shopping & retail. Learn more: <a href="https://industrycity.com/" target="_blank">industrycity.com</a> </p>
        <br />
        <p>Call and ask for the Bousel/Flores block rate.</p>
        <strong>718.972.0900</strong>
      </div>

      <!-- <div class="accommodations--alternates-container">
        <img src="./images/shapes/accommodations/accommodations-dot-grid-pink-1.svg" alt="" class="accommodations-shape-2">
        <div class="accommodations--altenates-text">
          <div class="accommodations--header">
            Alternate Accomodations
          </div>
          <ul class="accommodations--altenates-list">
            <a href="#" class="accommodations--altenates-list__link"><li>Hotel BPM Brooklyn <span class="accommodations--altenates-list__distance">(0.3 miles away)</span></li></a>
            <li>Days Inn Brooklyn <span class="accommodations--altenates-list__distance">(0.3 miles away)</span></li>
            <li>Holiday Inn Express New York-Brooklyn <span class="accommodations--altenates-list__distance">(0.3 miles away)</span></li>
            <li>Fairfield Inn & Suites By Marriott New York Brooklyn <span class="accommodations--altenates-list__distance">(0.3 miles away)</span></li>
          </ul>
        </div>
      </div> -->
    </div>

    <div class="accommodations--bottom-triangle">
      <!-- <img src="./images/shapes/accommodations/accommodations-white-tiangle-2.svg" alt="" class="accommodations-white-triangle-2"> -->
    </div>

  </div>
</section>
