<section id="party">
  <div class="party--wrapper-container">
    <img src="./images/shapes/footer/.svg" alt="" class="-shape-1 rellax" data-rellax-speed="1">

    <div class="party--content-container">

    </div>

  </div>
</section>
