<section id="story">
  <div class="story--content-container">
    <img src="./images/shapes/story/story-lines-purple-1.svg" alt="" class="story--shape-1 rellax" data-rellax-speed="2">
    <img src="./images/shapes/story/story-dot-grid-yellow-1.svg" alt="" class="story--shape-1 rellax" data-rellax-speed="3">
    <div class="">
      <h1>Our Story</h1>
    </div>
  </div>
</section>
